# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [55]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [56]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [58]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [59]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [60]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [61]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [62]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [63]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [64]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [65]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [66]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [67]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [68]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [69]:
data.duplicated().sum()

71

In [70]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [71]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [72]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [73]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [74]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [75]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [76]:
import numpy as np
data_pivot = pd.pivot_table(data, values='debt', index='children', aggfunc={np.mean, np.sum,})#сводная таблица 
data_pivot['Количество заемщиков'] = data.groupby('children')['debt'].count() #подсчет количества заемщиков
data_pivot.rename(columns={'mean': 'Доля должников', 'sum': 'Всего должников'}, inplace=True) #изменяем колонки
data_pivot.index.rename('Количество детей', inplace=True )
data_pivot.sort_values(by='Доля должников', ascending = False) #Добавил ascending = False

                  Доля должников  Всего должников  Количество заемщиков
Количество детей
4                       0.097561                4                    41
2                       0.094542              194                  2052
1                       0.092346              444                  4808
3                       0.081818               27                   330
0                       0.075438             1063                 14091
5                       0.000000                0                     9

In [77]:
data.pivot_table(index = 'children', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
    .sort_values(by = ('mean', 'debt'), ascending = False)

          count   sum      mean
           debt  debt      debt
children
4            41     4  0.097561
2          2052   194  0.094542
1          4808   444  0.092346
3           330    27  0.081818
0         14091  1063  0.075438
5             9     0  0.000000

 **Вывод:** Из приведенных данных следует, что клиенты Банка с 5 детьми не имеют просрочек. Наименьшая доля просрочек у клиентов без детей. А клиенты имеющие 1,2,3,4 детей допускают основную долю просрочки. Думаю, что статистика обсуловлена денежной нагрузкой на данную категорию клиентов, в силу больших расходов на содержание семьи. А клиенты с 5 детьми достаточно обеспечены для содеражния семьи и оплаты кредитов. Чем больше детей, тем выше риски.  

Новое: Сравнив категории клиентов с 0,1,2 детьми, составляющие бóльшую часть выборки, можно сказать, что самая большая категория клиентов без детей (14 091!) реже всех совершают просрочки, т.е. является самой низкорисковой и надежной категорией клиентов для банка. А клиенты с 1 или 2 детьми допускают просрочки чаще чем остальные категории клиентов. 
Возможно, банку-заказчику стоит ввести более строгие требования к одобрению кредита и при рассмотрении заявки.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [78]:
data_pivot2 = pd.pivot_table(data, values='debt', index=['family_status'], aggfunc={np.mean, np.sum,}) #сводная таблица по данным
data_pivot2.rename(columns={'sum': 'Всего должников', 'mean' : 'Доля должников'}, inplace=True) #изменяем колонки
data_pivot2.index.rename('Семейное положение', inplace=True )
data_pivot2.sort_values(by='Доля должников') #сортировка для наглядности

                       Доля должников  Всего должников
Семейное положение
вдовец / вдова               0.066246               63
в разводе                    0.070648               84
женат / замужем              0.075606              927
гражданский брак             0.093130              385
Не женат / не замужем        0.097639              273

**Вывод:** Клиенты имеющие семейные отошения  чаще всего совершают просрочки. Возможно это напрямую связано с образом жизни и наличием дополнительных трат. А те, кто кто овдовел или находится в разводе - почти всегда стараются платить вовремя и на это у них хватает денежных средств. Больше всего допускают просрочки холостые клиенты и "неофициальные семьи" (т.е. живущие в гражданском браке)

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [79]:
data_pivot3 = pd.pivot_table(data, values='debt', index=['total_income_category',  ], aggfunc={np.mean, np.sum,}) 
data_pivot3['Количество заемщиков'] = data.groupby('total_income_category')['debt'].count()
data_pivot3.rename(columns={'sum': 'Всего должников', 'mean' : 'Доля должников'}, inplace=True)
data_pivot3.index.rename('Уровень дохода', inplace=True )
data_pivot3.sort_values(by='Доля должников')  #сортировка для наглядности

                Доля должников  Всего должников  Количество заемщиков
Уровень дохода
D                     0.060172               21                   349
B                     0.070602              354                  5014
A                     0.080000                2                    25
C                     0.084982             1353                 15921
E                     0.090909                2                    22

**Вывод:** Самая высокая доля у низкооплачиваемых клиентов(E,C). С уровнем зарплаты доля сильно уменьшается, но прямой связи нет. Скорее это больше связано со спецификой работы, т.е. сферой работы и прочими внешними факторами. Стаж, профиль, работы, надежность бизнеса. Самая низкая доля просрочек у людей со средним доходом (D,B). А большие зарплаты тоже равно большие риски. 

Новое: По самым многочисленным выборкам можно сделать вывод, что клиенты с высоким доходом до 1 млн рублей, реже совершают просрочки, чем клиенты со средним доходом от 50-200 тыс. Доля должников почти на 15% меньше. Банку следует пересмотреть политику к категории клиентов с доходом до 200 тыс, либо ввести дополнительные требования, влияющие на одобрение кредита.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [80]:
data_pivot4 = pd.pivot_table(data, values='debt', index=['purpose_category'], aggfunc={np.mean, np.sum,}) 
data_pivot4['Количество заемщиков'] = data.groupby('purpose_category')['debt'].count()
data_pivot4.rename(columns={'sum': 'Всего должников', 'mean' : 'Доля должников'}, inplace=True)
data_pivot4.index.rename('Категория ссуды', inplace=True )
data_pivot4.sort_values(by='Доля должников') #сортировка для наглядности

,Доля должников,Всего должников,Количество заемщиков
Категория ссуды,,,
операции с недвижимостью,0.072551,780,10751
проведение свадьбы,0.079118,183,2313
получение образования,0.092528,369,3988
операции с автомобилем,0.093480,400,4279

**Вывод:** Клиенты, бравшие кредит на покупку недвижимости, меньше всего имели с возвратом кредитов, все таки жилищный вопрос - главный. На автомобиль и образование клиенты, бравшие кредит, чаще других допускают просрочки. т.е. такие ссуды - высокорисковые. На проведение свадеб тоже низкий процент просрочек как и у ипотеки.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Клиенты при заполнение анкет часто не знают среднего дохода (с учетом премий, отпускных итд) и точного количества отработанных дней. Оставляют данные пустыми, чтобы потом сообщить в банк при подаче документов. Рабочие дни со знаком минус - вероятно программа считает дни от устройства на работу до даты подачи заявки в банк.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианное значение дает более точное представление по категории или по масиву данных. Среднее значение может сильно исказить результаты и выводы могут получится не точными.

### Шаг 4: общий вывод.

В Банке самый популярный продукт - Ипотека ( сделки с недвижимостью). Далее автокредит, образование и кредиты на свадьбы. Доля невозвратов по ипотечным кредитам самая низкая. В основном покупают квартиры холостые люди, семьи меньше. Процент невозвратов до 8-10%. Банк может пересмотреть политику выдачи кредитов для наращивания более качественного портфеля и улучшения показателей. 

Новое: Просмотрев сводные таблице по количеству просрочек можно сделать выводы о разных категорях клиентов. Портрет самой рискованной категории клиентов можно описать так, это Клиент, не в официальном браке или в разводе, имеющий 1-2 детей, со средним доходом 50-200 тыс, берущий кредит на автомобиль или образование. 
Идеальный замещик для банка - Клиент, который официально замужем / женат или в разводе, с высоким доходом до 1 млн руб, без детей. И берущий кредит на квартиру (ипотеку). 
Можно сказать, что установлены зависимости просрочек от нескольких факторов, таких как - доход, семейное положение, наличие детей, сама цель кредита.

Чтобы улучшить качество данных и не требовалась их доработка на этапе предобработки данных, при подаче документов запретить (программно в ПО) отправку заявки по кредиту с пустыми полями (Особенно в части дохода и дней работы) . В столбце с количеством дней - можно включить "модуль" к данным, чтобы минус просто убирался, как мы и сделали выше в задании. В столбце с образование , сделать для менеджеров выпадающих список, чтобы можно было выбрать один из нескольких вариантов. Судя по записям, менеджеры печатают эти  данные, то с КАПСОМ, то просто с разным рЕГИСТРом. :)

Систему скоринга можно расширить по клиентам, чтобы решение по клиентам и данные были более объективными, и отражало их благонадежность для Банка. Например, наличие уже купленной недвижимости, автомобилей (учитывая их рыночную стоимость и состояние). Касательно рассмотрения места работы потенциальных заемщиков, ввести дополнительные требования к подаче сведений о них. Справки с места работы, наличие официального дохода, документально подтвержденного. Возможно также улучшить систему проверки сведений - улучшение работы отдела безопасности Банка: выезды для проверки места работы или работодателя. Введение более сложных моделей повысит качество портфеля Банка и улучшит показатели по просрочкам клиентов. Но здесь главное соблюдать баланс между строгой и мягкой политикой, чтобы не обвалить показатели.